@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

.links1{
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    font-weight: 300;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(Images/note-12.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 1000px;
    background: #1B1C38; 
    font-family: 'Heebo', sans-serif;
    color: #B8D8BA;
    min-height: 100vh;
}

h1{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #B8D8BA;
    margin-right: 30px;
    margin-top: -10px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7em;
    margin-top: 10px;
    padding-top: -100px;
    text-decoration: none;
}

h2{
    font-family: 'Sansita Swashed', sans-serif;
    font-weight: 500;
    font-size: 4.5em;
    display: flex;
    padding: 40px;
    justify-content: center;
    margin: auto;
}

h2:hover{
    -moz-user-select: none;
    background-image: url("https://media.giphy.com/media/3oz8xus1ykCFgxW2ac/giphy.gif");
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aarohan-logo1{
    justify-content: left;
    font-size: 2.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-top: -15px;
}