.home-main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.50;
}

.home-main-section .image-wrapper{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}

.home-main-section .lady-image{
    display: flex;
    opacity: 1;
    max-height: 100vh;
    min-width:30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left; 
    justify-content: space-between;
    align-items: flex-start;
    transform: translateX(-10%);
    margin-top: -550px;
    margin-left: -100px;
    padding: 50px;
}

.home-main-section .call-to-action{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    margin-bottom: 300px;
    float: left;
}
