*, *::before, *::after{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #1B1C38; 
    font-family: 'Heebo', sans-serif;
    font-size: 1.25rem;
    color: #B8D8BA;
    min-height: 100vh;
    background-image: url(Images/note-12.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    -moz-user-select: none;

}

.full-height-grow {
    display: flex;
    flex-direction: column;
}
.links1 ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: -100px;
    margin-top: 35px;
    font-size: 1.25em;
}

.links1 a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.links1 a:hover{
    color: #61a866;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-right: 0.5rem;
    height: 60px;
    margin-top: -10px;
}

.container{
    max-width:1300px;
    margin: 0 auto;
    padding: 0 40px;
}

.title{
    font-weight: 450;
    font-size:4.8em;
    margin-bottom: 1rem;
    margin-top: 50px;
    margin-left: -210px;
    -moz-user-select: none;

}

.subtitle {
    font-weight: 500;
    font-size:2.5em;
    margin-bottom: 1rem;
    margin-top: 0;
    margin-left: -206px;
    margin-top: 25px;
    -moz-user-select: none;
}

.btn{
    margin-top: 50px;
    color: #B8D8BA;
    background-color: #D4213F;
    padding: 12px;
    padding-bottom: 13px;
    border-radius: 60px;
    text-decoration: none;
    font-size: 0.8em;
    margin-top: 17px;
}

.btn a{
    text-decoration: none;
    color:#B8D8BA;
}

.btn:hover {
    text-decoration: none;
    animation-name: button;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes button{
    50%{
        background-color: #7C1325;
    }
    100%{
        background-color: #020D13;
    }
}
.aarohan-logo{
    justify-content: left;
    font-size: 150%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: -150px;
}

.sappy-para{
    margin-top: 25px;
    font-size: 30px;
    margin-left: -200px;
}